body {
    background-image: url("../images/hops_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.total-view {
    width: 75%;
    margin: 0 auto;
    padding: 20px 20px;
}
.column {
    background-color: #dae0e5;
    border: 3px solid #203c12;
    margin-top:10px;
}
.container {
    display: flex;
    margin-bottom: -5px;
}
.welcome-box {
    color: #3B3838;
    font-family: "Arial Black", sans-serif;
    font-size: 20px;
    padding: 5px;
}
.welcome-sub {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.daily-beer {

}
.announcement {
    height: 425px;
    overflow-x: hidden;
    overflow-y: auto;
}
.flex-item {
    flex-grow: 1;
}
.fixable {
    width: 180px;
    flex-grow: 0;
}
.fixed {
    position: fixed;
    top: 10px;
}
.scrollable {
    overflow: auto;
}
.option-box {
    color: #3B3838;
    font-family: "Arial Black", sans-serif;
    font-size: 20px;
    padding: 5px;
}
.option-link {
    padding-bottom: 15px;
}
.option {
    text-decoration: none;
    color: #3B3838;
}
.welcome-column {

}
.explore-button {
    margin-left: 10px;
}
.explore-card {
    font-size: 15pt;
    margin-bottom: 0.5rem;
}
.link-button {
    background-color: forestgreen;
    color: #1a202c;
    font-family: "Arial Black", sans-serif;
    font-size: 22px;
    padding: 4px 20px 4px 20px;
    border-radius: 6px 6px 6px 6px;
}
.announcement-text {
    font-family: "Times New Roman", serif;
    font-size: 15pt;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}
.grid-item {
    flex: 0 0 auto;
}
.content {
    background: #dae0e5;
}
.admin {
     height: 600px;
}
.admin-form {

}
.show-hide {
    display: none;
}
.types-button {
    width: 200px;
    background-color: forestgreen;
    color: #1a202c;
    font-family: "Arial Black", sans-serif;
    font-size: 22px;
    padding: 4px 20px 4px 20px;
    border-radius: 6px 6px 6px 6px;
}
.with-border {
    border-left: 3px solid #203c12;
    border-bottom: 3px solid #203c12;
    border-right: 3px solid #203c12;
}
.brewery-name {
    margin-left: 50px;
    color: #3B3838;
    font-family: "Arial Black", sans-serif;
}
.brewery-box {
    margin-left: 50px;
    color: #3B3838;
    font-family: "Arial Black", sans-serif;
    font-size: 20px;
}

.small-margin {
    margin-bottom: 10px;
}
.delete {
    width: 150px;
    background-color: #cc2817;
    color: #1a202c;
    font-family: "Arial Black", sans-serif;
    font-size: 15px;
    padding: 4px 20px 4px 20px;
    border-radius: 6px 6px 6px 6px;
}
.small-margin-left {
    margin-left: 8px;
}
.submission {
    margin-top: 5px;
    width: 150px;
    background-color: forestgreen;
    color: #1a202c;
    font-family: "Arial Black", sans-serif;
    font-size: 15px;
    padding: 4px 10px 4px 10px;
    border-radius: 6px 6px 6px 6px;
}
.textfield {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #848484;
    outline:0;
    height:25px;
    width: 275px;
}
.selection {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #848484;
    outline:0;
    height:25px;
    width: 275px;
}
.news {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #1a202c;
}
.created {
    padding-bottom: 10px;
}
.success {
    font-family: "Arial Black", sans-serif;
    font-size: 15px;
    background: darkgreen;
}
.info {
    font-family: "Arial Black", sans-serif;
    font-size: 36pt;
    border: 3px solid #203c12;
    background-color: #dae0e5;
    margin-top: 15px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.info-margin {
    margin: 10px;
}
.info-text {
    font-family: "Arial Black", sans-serif;
    font-size: 12pt;
    color: #1a202c;
}
.info-left {
    float:left;
}
.info-center {
    padding-left: 20px;
}
.info-right {
    float: right;
    margin-left: 20px;
}
.spirit-sub {
    display: grid;
    grid-template-columns: 50% 50%;
}
.card-bg {
    background: #c2ea5e;
}
.footer-link {
    color: #1a202c;
}
.margin-top {
    margin-top: 20px;
}
.login-pg {
    text-align: center;
    margin-top: 150px;
}
.login-error {
    height: 50px;
}
.error-box {
    max-width: 500px;
    margin: 0 auto;
    background: orangered;
    border-radius: 0.3rem;
    height:50px;
}
.error {
    padding-top: 10px;
    font-family: "Arial Black", sans-serif;
    font-size: 12pt;
    color: #1a202c;
    text-align: center;
}
.extra-top {
    margin-top: 50px;
}
.centered {
    display: flex;
    justify-content: center;
}
.popup-title {
    text-align: center;
    font-family: "Arial Black", sans-serif;
    background: #c2ea5e;
    padding: 20px;
    margin: 0;
    border-bottom: 3px solid #0b2e13;
}
.center-link {
    text-align: center;
    color: #203c12;
    font-family: "Lucida Bright", sans-serif;
}
