.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #dae0e5;
    border: 1px solid #203c12;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    margin: 10px;
}
.ratio {
    position: relative;
    object-fit: fill;
    border-radius: 0.25rem;
    height: 267px;
    width: 267px;
}
.card-body {
    flex: 1 1 auto;
    padding: 5px;
}
.beer-name {
    font-size: 15pt;
    margin-bottom: 0.5rem;
}
.beer {
    object-fit: fill;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 267px;
    width: 267px;
}
.beer-text {
    font-family: Monaco, sans-serif;
    font-size: 12pt;
}
.option-column {
    margin-right: auto;
}
.beer-title {
    color: #3B3838;
    font-family: "Arial Black", sans-serif;
}
.beer-box {
    color: #3B3838;
    font-family: "Arial Black", sans-serif;
    font-size: 20px;
    padding: 5px;
}
.beer-sub {
    display: grid;
    grid-template-columns: 50% 50%;
}
.beer-image {
    object-fit: fill;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 400px;
    width: 400px;
}
.description {
    padding-top: 10px;
}
.beer-description {
    font-family: "Lucida Bright", sans-serif;
    font-size: 20px;
}
.beer-information {
    font-family: "Lucida Bright", sans-serif;
    font-size: 20px;
}
.product-box {
    color: #3B3838;
    font-family: "Arial Black", sans-serif;
    font-size: 20px;
    padding: 5px;
}
.product-sub {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.type-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
