.modal {
    position: fixed;
    z-index: 99999;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: #dae0e5;
    border: 3px solid #203c12;
}
.modal-body {
    position: relative;

}
.modal-container {
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: #000000;
    z-index: 99998;
    opacity: 1;
}
.open {
    display: block;
}
.closed {
    display: none;
}
.popup {
    text-align: center;
}
